/* This file is part of Moodle - http://moodle.org/

 Moodle is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Moodle is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Moodle. If not, see <http://www.gnu.org/licenses/>.
*/

.socialwiki_label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    background-color: #428bca;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.socialwiki_label[href]:hover,
.socialwiki_label[href]:focus {
    background-color: #3071a9;
    text-decoration: none;
    cursor: pointer;
}

.tabtree ul {
    text-align: left;
}

.socialwiki_headingtitle {
    text-align: left;
}

.socialwiki_wikicontent .home_user
{
    text-align: left;
    margin: -2px 80px;
    font-size: 24px;
    line-height: 40px;
}

.socialwiki_wikicontent .home_picture
{
    float:left;
    margin-top: 8.9px;
}

.socialwiki_wikicontent .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.socialwiki_wikicontent .nav-tabs {
    margin-top: 30px;
    border-bottom: 1px solid #dddddd;
}

.socialwiki_liketable {
    width: 100%;
}

table.peer_table td {
    padding: 1px 10px 1px 0px;
}

.relation_line
{
    background-color:black !important;
}

.socialwiki_likelist, .socialwiki_followlist
{
    text-align:center;
}

.socialwiki_unfollowlink,.socialwiki_unlikelink
{
    position:relative;
    margin-left:50px;
}

.socialwiki_link
{
    font-weight:bold;
    font-style:italic;
}

.socialwiki_likebutton
{
    line-height: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color:gray;
    width: 160px;
    margin: 0;
}

/*this is in fact used just to display the author in the bottom of a page (should be renamed)*/
.socialwiki_contributors
{
    text-align:right;
}

#socialwiki_container
{
    display:none !important;
}


#page-mod-socialwiki-search #socialwiki_content_area
{
    overflow:auto;
    position:relative;
    text-align:left;
}

#page-mod-socialwiki-history #socialwiki_content_area
{
    overflow:auto;
    position:relative;
    text-align:left;
}

.slidecontainer
{
    display:inline-block;
    margin:25px;
    width:20px;
}

input#preview
{
    display:none;
}

#numlikes
{
    margin-top: 8px;
}