@media print {
    #socialwiki-comdirection, .action-icon, .midpad, button, header,
    .breadcrumb, #page-navbar, .nav-tabs, #block-region-side-pre, #page-footer {
        display: none;
    }

    #region-main {
        width: 100% !important;
    }
}