/*
 *  File:         table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */
.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    text-align: right;
    margin-top: -2.6em;
}

.dataTables_filter input {
    margin-left: 0.5em;
    margin-bottom: 0.2em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.datatable {
    clear: both;
    width: 100%;
    margin-bottom: 0;
}

table.datatable thead th {
    padding: 3px 16px 2px 6px;
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    *cursor: hand;
}

table.datatable td {
    padding: 3px 10px 2px 6px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
.sorting_asc {
    background: url('../pix/table/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../pix/table/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('../pix/table/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('../pix/table/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('../pix/table/sort_desc_disabled.png') no-repeat center right;
}

table.datatable thead th:active,
table.datatable thead td:active {
    outline: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
tr.odd {
    background-color: #E2E4FF;
}

tr.even {
    background-color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Borders
 */
.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
    max-height: 200px;
}

table.dataTable tbody tr {
    border-top: 1px solid #C9C9C9;
}

table.dataTable tbody tr:first-child td {
    border-top: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Sorting classes for columns
 */
tr.odd td.sorting_1 {
    background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
    background-color: #DADCFF;
}

tr.odd td.sorting_3 {
    background-color: #E0E2FF;
}

tr.even td.sorting_1 {
    background-color: #EAEBFF;
}

tr.even td.sorting_2 {
    background-color: #F2F3FF;
}

tr.even td.sorting_3 {
    background-color: #F9F9FF;
}
