/*
 *  File:         table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../pix/ - relative to the main folder.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */
.socialwiki_wikicontent .dataTables_wrapper {
    position: relative;
    margin-top: -0.8em;
    margin-bottom: 2em;
    zoom: 1; /* Feeling sorry for IE */
}

.socialwiki_wikicontent .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.socialwiki_wikicontent .dataTables_length {
    width: 40%;
    float: left;
}

.socialwiki_wikicontent .dataTables_filter {
    float: right;
}

.socialwiki_wikicontent .dataTables_filter label {
    margin: 0;
}

.socialwiki_wikicontent .dataTables_filter input {
    margin-left: 0.5em;
    margin-bottom: 0.2em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */

.socialwiki_wikicontent table.datatable {
    clear: both;
    width: 100%;
    margin-bottom: 0;
    display: block;
    height: 250px;
    overflow: auto;
    resize: vertical;
}

.jsenabled .socialwiki_wikicontent table.datatable {
    display: table;
    height: auto;
    resize: none;
}

.socialwiki_wikicontent .dataTables_scroll {
    clear: both;
}

.socialwiki_wikicontent table.datatable thead th {
    padding: 3px 16px 2px 6px;
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: left;
    outline: none;
    cursor: pointer;
    *cursor: hand;
}

.socialwiki_wikicontent table.datatable td {
    padding: 3px 10px 2px 6px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
.socialwiki_wikicontent .sorting_asc {
    background: url('../pix/table/sort_asc.png') no-repeat center right;
}

.socialwiki_wikicontent .sorting_desc {
    background: url('../pix/table/sort_desc.png') no-repeat center right;
}

.socialwiki_wikicontent .sorting {
    background: url('../pix/table/sort_both.png') no-repeat center right;
}

.socialwiki_wikicontent .sorting_asc_disabled {
    background: url('../pix/table/sort_asc_disabled.png') no-repeat center right;
}

.socialwiki_wikicontent .sorting_desc_disabled {
    background: url('../pix/table/sort_desc_disabled.png') no-repeat center right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
.socialwiki_wikicontent tr.odd {
    background-color: #F7F7F9;
}

.socialwiki_wikicontent tr.even {
    background-color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Borders
 */
.socialwiki_wikicontent .dataTables_scrollBody {
    -webkit-overflow-scrolling: touch;
    resize: vertical;
}

.socialwiki_wikicontent table.dataTable tbody tr {
    border-bottom: 1px solid #C9C9C9;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Sorting classes for columns
 */
.socialwiki_wikicontent tr.odd td.sorting_1 {
    background-color: #ECECEE;
}

.socialwiki_wikicontent tr.even td.sorting_1 {
    background-color: #F5F5F7;
}